.rose-background {
    background: MistyRose;
}

.tomato-red {
    color: Tomato !important;
}

.lightblue-background {
    background: SkyBlue;
}

.darkblue-background {
    background: DodgerBlue;
}
