.rose-bg {
    background: MistyRose;
}

.tomato-red {
    color: Tomato !important;
}

.lightblue-bg {
    background: SkyBlue;
}

.darkblue-bg {
    background: DodgerBlue;
}

.text-info {
    color: #31708f;
}

.text-danger {
    color: #a94442;
}

.calendar-text {
    margin-top: .3em;
}

.file-text {
    margin-top: .2em;
}

.filetype-text {
    font-size: .7em;
    font-weight: 700;
    font-family: 'Oswald';
}
